@use './variables' as *;

@mixin flex($aligin-item, $justify-content) {
  display: flex;
  align-items: $aligin-item;
  justify-content: $justify-content;
}

@mixin overflay {
  background: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin textheading {
  font-size: $font-main-heading;
  font-weight: $font-weight-bold;
}

@mixin textbody {
  font-size: $font-text;
  font-weight: $font-weight-regular;
}

@mixin flex-center {
  @include flex(center, center);
}

@mixin fixed-position {
  position: fixed;
  top: $space-md;
  left: 50%;
  border-radius: $space-lg;
  transform: translateX(-50%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 10px 30px;

  background-color: rgb(34, 37, 49);
  background-color: rgb(34, 37, 49);

  color: $color-text;
  font-size: 2rem;
  text-align: center;
}
