$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$font-main-heading: 32px;
$font-sub-heading: 24px;

$font-text: 18px;
$font-small: 14px;

$color-background: #343a40;
$color-text: #f8f9fa;

// $font-headline: 'Open Sans', sans-serif;
// $font-body: 'Roboto', sans-serif;
