@use '../../../scss/' as *;

.nav {
  // border: 1px solid greenyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-sm;
  @include text-overline();

  ul {
    @include flex-center();
    gap: $space-sm;
  }

  li {
    list-style: none;
  }

  .hamMenu {
    display: none;
  }

  .offScreenMenu {
    display: contents;
  }
}

@include responsive {
  .nav {
    @include flex-center();
    @include fixed-position();
    @include text-link();
    width: 80%;
  }

  .hamMenu {
    height: 30px;
    width: 30px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
    display: block !important;

    span {
      display: block;
      height: 3px;
      width: 100%;
      background-color: $color-text;
      border-radius: 10px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.3s ease;
    }

    span:nth-child(1) {
      top: 25%;
    }

    span:nth-child(2) {
      top: 50%;
    }

    span:nth-child(3) {
      top: 75%;
    }

    &.active span:nth-child(1) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &.active span:nth-child(2) {
      opacity: 0;
    }

    &.active span:nth-child(3) {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .offScreenMenu {
    @include fixed-position();
    top: 3.75rem;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    display: inline !important;

    ul {
      display: block;
      &:last-child {
        @include flex-center();
        filter: invert(1);
      }
      li {
        list-style: none;
        padding: 10px;
        transition: 0.3s ease;
      }
    }
  }

  .offScreenMenu.active {
    opacity: 1;
  }
}
