@use './scss/' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-body);

  ::-webkit-scrollbar {
    display: none;
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
